### Lambda and Sets

In [6]:
import pandas as pd

# don't use the names of states an the index!
states = pd.read_csv("s_states.csv")

def set_of_chars(s):
  return set(list(s.lower()))

series_of_sets = states.State.apply(lambda s: set_of_chars(s))

In [1]:
a = {1, 2, 3}
b = {2, 4}
a.union(b)

{1, 2, 3, 4}

In [8]:
from functools import reduce
chars_used_in_states_name = reduce(lambda x, y: x.union(y), series_of_sets)

print(len(chars_used_in_states_name))
chars_used_in_states_name

26

{' ',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z'}

In [9]:
from string import ascii_lowercase
print(" " in ascii_lowercase) # Should print `False`
print("a" in ascii_lowercase) # Should print `True`

False
True

In [12]:
chars_used_in_states_name = {x for x in chars_used_in_states_name if x in ascii_lowercase}

print(len(chars_used_in_states_name))
chars_used_in_states_name

25

{'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z'}

### Combining DFs

In [13]:
left = pd.DataFrame({"id": [1, 2, 3], "names": ["Ethan", "Henry", "Mason"]})
left

   id  names
0   1  Ethan
1   2  Henry
2   3  Mason

In [14]:
right = pd.DataFrame({"id": [1, 2, 3], "names": ["Mark", "Luke", "Peter"]})
right

   id  names
0   1   Mark
1   2   Luke
2   3  Peter

In [15]:
pd.merge(left, right, on="id")

   id names_x names_y
0   1   Ethan    Mark
1   2   Henry    Luke
2   3   Mason   Peter

In [17]:
left = pd.DataFrame({"id": [1, 3], "names": ["Ethan", "Mason"]})
right = pd.DataFrame({"id": [1, 2], "names": ["Mark", "Luke"]})
pd.merge(left, right, on="id")
# removes non-overlapping IDs

   id names_x names_y
0   1   Ethan    Mark

In [18]:
pd.merge(left, right, on="id", how="left")

   id names_x names_y
0   1   Ethan    Mark
1   3   Mason     NaN

In [20]:
pd.merge(left, right, on="id", how="right")

   id names_x names_y
0   1   Ethan    Mark
1   2     NaN    Luke

In [21]:
pd.merge(left, right, on="id", how="outer")

   id names_x names_y
0   1   Ethan    Mark
1   3   Mason     NaN
2   2     NaN    Luke

### Concat

In [22]:
top = pd.DataFrame({"letters": ["a", "b", "c"], "numbers": [1, 2, 3]})
bottom = pd.DataFrame({"letters": ["g", "h", "i"], "numbers": [7, 8, 9]})
pd.concat([top, bottom])

  letters  numbers
0       a        1
1       b        2
2       c        3
0       g        7
1       h        8
2       i        9

In [25]:
top = pd.DataFrame({"letters": ["a", "b", "c"], "numbers": [1, 2, 3]})
middle = pd.DataFrame({"letters": ["d", "e", "f"], "numbers": [4, 5, 6]})
bottom = pd.DataFrame({"letters": ["g", "h", "i"], "numbers": [7, 8, 9]})

pd.merge(top, middle, on="numbers", how="outer")

  letters_x  numbers letters_y
0         a        1       NaN
1         b        2       NaN
2         c        3       NaN
3       NaN        4         d
4       NaN        5         e
5       NaN        6         f

In [28]:
pd.merge(pd.merge(top, middle, on="numbers", how="outer"), bottom, on="numbers" , how="outer")

  letters_x  numbers letters_y letters
0         a        1       NaN     NaN
1         b        2       NaN     NaN
2         c        3       NaN     NaN
3       NaN        4         d     NaN
4       NaN        5         e     NaN
5       NaN        6         f     NaN
6       NaN        7       NaN       g
7       NaN        8       NaN       h
8       NaN        9       NaN       i

### Reshaping

In [31]:
# data was collected by the city of Pittsburgh from 311 calls (too large; look it up)
data311 = pd.read_csv("./76fda9d0-69be-4dd5-8108-0de7907fc5a4.csv")
data311.head()

,_id,REQUEST_ID,CREATED_ON,REQUEST_TYPE,REQUEST_ORIGIN,STATUS,DEPARTMENT,NEIGHBORHOOD,COUNCIL_DISTRICT,WARD,TRACT,PUBLIC_WORKS_DIVISION,PLI_DIVISION,POLICE_ZONE,FIRE_ZONE,X,Y,GEO_ACCURACY
0,1,203364.0,2017-12-15T14:53:00,Street Obstruction/Closure,Call Center,1,DOMI - Permits,Central Northside,1.0,22.0,4.200322e+10,1.0,22.0,1.0,1-7,-80.016716,40.454144,EXACT
1,2,200800.0,2017-11-29T09:54:00,Graffiti,Control Panel,1,Police - Zones 1-6,South Side Flats,3.0,16.0,4.200316e+10,3.0,16.0,3.0,4-24,-79.969952,40.429243,APPROXIMATE
2,3,201310.0,2017-12-01T13:23:00,Litter,Call Center,1,DPW - Street Maintenance,Troy Hill,1.0,24.0,4.200324e+10,1.0,24.0,1.0,1-2,-79.985859,40.459716,EXACT
3,4,200171.0,2017-11-22T14:54:00,Water Main Break,Call Center,1,Pittsburgh Water and Sewer Authority,Banksville,2.0,20.0,4.200320e+10,5.0,20.0,6.0,4-9,-80.034210,40.406969,EXACT
4,5,193043.0,2017-10-12T12:46:00,Guide Rail,Call Center,1,DPW - Construction Division,East Hills,9.0,13.0,4.200313e+10,2.0,13.0,5.0,3-19,-79.876582,40.451226,EXACT

In [33]:
neighborhood = data311.groupby(by="NEIGHBORHOOD")
neighborhood

In [34]:
neighborhood.ngroups

91

In [35]:
neighborhood.groups

{'Allegheny Center': Int64Index([   137,    446,    730,   1877,   2148,   2397,   2549,   2619,
               2759,   2775,
             ...
             678600, 678607, 678677, 678748, 678861, 679142, 679360, 679644,
             679796, 679891],
            dtype='int64', length=2424),
 'Allegheny West': Int64Index([   945,   1417,   1426,   2129,   2897,   3119,   3610,   4222,
               4553,   4612,
             ...
             674750, 675489, 675767, 676503, 676751, 677273, 678546, 678990,
             678998, 679006],
            dtype='int64', length=1306),
 'Allentown': Int64Index([   116,    167,    257,    350,    408,    439,    657,    853,
               1092,   1213,
             ...
             679476, 679559, 679573, 679614, 679652, 679752, 679818, 679906,
             679967, 680001],
            dtype='int64', length=7281),
 'Arlington': Int64Index([   344,    460,    565,    566,    709,    710,    754,   1158,
               1199,   1324,
             ...
             678619, 678647, 678736, 678909, 679028, 679141, 679280, 679705,
             679751, 679889],
            dtype='int64', length=5259),
 'Arlington Heights': Int64Index([  1164,   6581,  26252,  37616,  48061,  49722,  50347,  52156,
              52329,  54369,
             ...
             626411, 626694, 626919, 627928, 629456, 640498, 640582, 660333,
             676123, 676210],
            dtype='int64', length=140),
 'Banksville': Int64Index([     3,    905,   1157,   1253,   2321,   2482,   2543,   2555,
               2618,   2626,
             ...
             678473, 678714, 679038, 679496, 679663, 679877, 679937, 679968,
             680005, 680032],
            dtype='int64', length=4580),
 'Bedford Dwellings': Int64Index([   896,   1010,   1012,   1096,   1097,   1565,   1726,   1824,
               2417,   2734,
             ...
             671168, 671393, 671650, 673402, 674315, 675191, 675828, 679600,
             679996, 679998],
            dtype='int64', length=1435),
 'Beechview': Int64Index([    19,     50,     51,     67,     90,    170,    230,    244,
                253,    332,
             ...
             679932, 679950, 679980, 680006, 680009, 680056, 680058, 680059,
             680087, 680091],
            dtype='int64', length=15792),
 'Beltzhoover': Int64Index([   345,    352,    509,    593,    630,    732,    899,    938,
               1799,   1865,
             ...
             677203, 677280, 677328, 677622, 677860, 678202, 678517, 678684,
             680083, 680084],
            dtype='int64', length=6163),
 'Bloomfield': Int64Index([    27,    185,    306,    437,    459,    510,    693,    745,
                757,    774,
             ...
             679515, 679536, 679597, 679601, 679621, 679759, 679794, 679922,
             680034, 680089],
            dtype='int64', length=18268),
 'Bluff': Int64Index([     7,    139,    812,    937,   1084,   1105,   1106,   1125,
               1131,   1198,
             ...
             677984, 678272, 678298, 678455, 678509, 678571, 678626, 679026,
             679059, 679158],
            dtype='int64', length=3864),
 'Bon Air': Int64Index([   462,    497,    786,    818,    819,    995,   1905,   1948,
               2640,   2950,
             ...
             678701, 678784, 678785, 679117, 679318, 679344, 679655, 679656,
             680025, 680093],
            dtype='int64', length=2090),
 'Brighton Heights': Int64Index([    12,     28,     37,     38,     40,     41,     82,     86,
                 88,     89,
             ...
             679815, 679921, 679923, 679928, 679945, 679949, 679961, 679988,
             680041, 680067],
            dtype='int64', length=11358),
 'Brookline': Int64Index([    18,     32,     53,     58,     72,     77,    263,    278,
                292,    317,
             ...
             679814, 679843, 679858, 679869, 679880, 679881, 679938, 679947,
             680000, 680100],
            dtype='int64', length=27745),
 'California-Kirkbride': Int64Index([    93,    176,    258,    261,    343,    587,   1907,   1909,
               2692,   2767,
             ...
             678444, 678587, 678700, 678837, 678876, 678964, 678966, 679793,
             679811, 680095],
            dtype='int64', length=2115),
 'Carrick': Int64Index([    21,     24,    110,    154,    155,    179,    213,    220,
                268,    359,
             ...
             679888, 679919, 679927, 679940, 679946, 680021, 680031, 680039,
             680040, 680053],
            dtype='int64', length=26202),
 'Central Business District': Int64Index([    10,     14,     23,     56,    132,    197,    208,    295,
                335,    382,
             ...
             679896, 679897, 679986, 680060, 680074, 680075, 680076, 680077,
             680078, 680092],
            dtype='int64', length=14365),
 'Central Lawrenceville': Int64Index([    69,    119,    124,    330,    445,    495,    512,    518,
                789,    864,
             ...
             678825, 678952, 679162, 679163, 679172, 679502, 679873, 679874,
             679960, 679969],
            dtype='int64', length=12233),
 'Central Northside': Int64Index([     0,     33,     61,    117,    296,    384,    447,    482,
                673,    689,
             ...
             679096, 679164, 679392, 679548, 679701, 679758, 679761, 679778,
             679904, 679990],
            dtype='int64', length=7698),
 'Central Oakland': Int64Index([   277,    528,    541,    658,    837,    921,   1600,   1657,
               1849,   1886,
             ...
             678872, 678873, 678874, 678875, 678960, 679080, 679161, 679903,
             679934, 680054],
            dtype='int64', length=8833),
 'Chartiers City': Int64Index([  5219,   7014,   9040,   9101,   9815,  10056,  10576,  10845,
              11291,  11802,
             ...
             674659, 674871, 674943, 676629, 676717, 676838, 677028, 677345,
             678420, 679562],
            dtype='int64', length=823),
 'Chateau': Int64Index([   470,    476,    487,    972,   1101,   1365,   1405,   1411,
               1654,   1781,
             ...
             673876, 673877, 673879, 674173, 677678, 678171, 678370, 679516,
             679870, 679872],
            dtype='int64', length=1231),
 'Crafton Heights': Int64Index([   327,    605,    606,    936,   1206,   1278,   2258,   2478,
               2582,   2635,
             ...
             679129, 679176, 679196, 679608, 679765, 679805, 679816, 679976,
             680023, 680024],
            dtype='int64', length=7054),
 'Crawford-Roberts': Int64Index([    99,    102,    196,    238,    607,    981,   1191,   1315,
               1421,   1768,
             ...
             677883, 677884, 677900, 678496, 678847, 678849, 678927, 679047,
             679363, 679662],
            dtype='int64', length=4125),
 'Duquesne Heights': Int64Index([   567,    903,   1509,   1625,   1977,   2055,   2270,   2341,
               2371,   2396,
             ...
             679040, 679041, 679054, 679289, 679306, 679347, 679520, 679791,
             679850, 679909],
            dtype='int64', length=4491),
 'East Allegheny': Int64Index([    22,    195,    370,    379,    392,    422,    499,    546,
                621,    790,
             ...
             679099, 679140, 679279, 679397, 679519, 679607, 679660, 679925,
             680014, 680019],
            dtype='int64', length=8323),
 'East Carnegie': Int64Index([   333,   2257,   7698,   9192,   9468,   9905,  10955,  11485,
              15842,  17026,
             ...
             674916, 675625, 676845, 676847, 676849, 676850, 676851, 676852,
             680020, 680088],
            dtype='int64', length=666),
 'East Hills': Int64Index([     4,      5,     73,    115,    121,    192,    211,    337,
                351,    599,
             ...
             674559, 675844, 675910, 676706, 677239, 677686, 677863, 677864,
             679122, 680027],
            dtype='int64', length=5709),
 'East Liberty': Int64Index([   247,    386,    425,    564,    727,    860,    913,   1044,
               1054,   1114,
             ...
             679395, 679407, 679451, 679489, 679590, 679640, 679722, 679787,
             679833, 680057],
            dtype='int64', length=11681),
 'Elliott': Int64Index([   106,    123,    539,    629,    740,    759,    970,   1438,
               1586,   1930,
             ...
             678716, 678856, 678878, 679587, 679630, 679792, 679838, 679840,
             679959, 679979],
            dtype='int64', length=8360),
 'Esplen': Int64Index([   269,   1480,   2391,   3070,   5251,   6146,   6715,   6832,
               7774,  11332,
             ...
             669277, 669627, 672933, 673535, 673883, 674970, 676408, 678360,
             678991, 679390],
            dtype='int64', length=1187),
 'Fairywood': Int64Index([  2261,   2354,   3096,   3525,   5503,   5602,   5627,   6558,
               6575,   6665,
             ...
             671256, 671257, 671260, 672192, 673089, 673323, 673358, 674374,
             677980, 679868],
            dtype='int64', length=1048),
 'Fineview': Int64Index([    66,     98,    103,    107,    162,    172,    232,    241,
                311,    360,
             ...
             678512, 678513, 678562, 678772, 678839, 678898, 679037, 679113,
             679133, 679528],
            dtype='int64', length=3204),
 'Friendship': Int64Index([   720,   1117,   1354,   2444,   2506,   2572,   2753,   2763,
               3144,   3421,
             ...
             675469, 675473, 676149, 677316, 678081, 678131, 678132, 679144,
             679183, 679480],
            dtype='int64', length=2436),
 'Garfield': Int64Index([    85,    182,    206,    249,    346,    480,    481,    594,
                653,    687,
             ...
             678829, 679016, 679017, 679146, 679189, 679442, 679488, 679504,
             679824, 680096],
            dtype='int64', length=10234),
 'Glen Hazel': Int64Index([   634,    746,   3717,   5025,   5363,   6779,   8149,  13581,
              15488,  16956,
             ...
             664894, 664990, 665779, 667183, 668323, 671685, 673808, 675170,
             676124, 678273],
            dtype='int64', length=443),
 'Greenfield': Int64Index([   165,    236,    264,    310,    312,    478,    521,    612,
                613,    648,
             ...
             679576, 679627, 679628, 679629, 679631, 679633, 679779, 679887,
             679898, 679917],
            dtype='int64', length=14066),
 'Hays': Int64Index([   542,    698,   2849,   3883,   3884,   4078,   4305,   4983,
               5064,   5359,
             ...
             675453, 676541, 676610, 677022, 677750, 678210, 678396, 679121,
             679126, 679852],
            dtype='int64', length=1157),
 'Hazelwood': Int64Index([   131,    150,    166,    331,    385,    402,    418,    453,
                573,    637,
             ...
             679708, 679717, 679728, 679753, 679957, 679971, 679993, 680007,
             680026, 680044],
            dtype='int64', length=12288),
 'Highland Park': Int64Index([   358,    523,    702,    768,    834,    835,    836,    880,
                929,   1235,
             ...
             679303, 679405, 679473, 679523, 679531, 679611, 679711, 679760,
             679890, 679905],
            dtype='int64', length=9811),
 'Homewood North': Int64Index([   338,    655,   1000,   1019,   1263,   1302,   1313,   1698,
               1702,   2089,
             ...
             678653, 678804, 678806, 678807, 678810, 678906, 679467, 679930,
             679964, 680086],
            dtype='int64', length=8850),
 'Homewood South': Int64Index([   204,    491,    686,    770,    830,   1017,   1304,   1811,
               1885,   1891,
             ...
             676976, 677013, 677064, 677427, 677910, 678174, 678270, 679460,
             679464, 679813],
            dtype='int64', length=7777),
 'Homewood West': Int64Index([   111,    164,    355,    775,    876,    926,   1060,   2033,
               2035,   2430,
             ...
             676280, 676688, 676690, 678297, 678345, 678425, 678434, 679521,
             679915, 679920],
            dtype='int64', length=2474),
 'Knoxville': Int64Index([    60,    191,    307,    316,    416,    443,    467,    494,
                578,    676,
             ...
             678649, 679022, 679048, 679120, 679211, 679307, 679369, 680004,
             680011, 680048],
            dtype='int64', length=9595),
 'Larimer': Int64Index([    39,     45,    163,    187,    347,    691,    895,   1152,
               1840,   2056,
             ...
             678765, 678801, 678937, 678976, 678999, 679273, 679331, 679550,
             679578, 679776],
            dtype='int64', length=6069),
 'Lincoln Place': Int64Index([   275,    554,    644,    716,    909,   1274,   1276,   1476,
               1485,   1856,
             ...
             678107, 678109, 678127, 678487, 678585, 678886, 679127, 679212,
             679411, 679469],
            dtype='int64', length=6972),
 'Lincoln-Lemington-Belmar': Int64Index([    57,     59,    134,    149,    254,    287,    293,    373,
                430,    681,
             ...
             679274, 679286, 679356, 679359, 679474, 679546, 679702, 679807,
             679951, 679953],
            dtype='int64', length=10414),
 'Lower Lawrenceville': Int64Index([    16,    178,    252,    274,    339,    415,    452,    536,
                537,    568,
             ...
             679254, 679505, 679577, 679738, 679743, 679863, 679970, 680003,
             680012, 680043],
            dtype='int64', length=6807),
 'Manchester': Int64Index([    36,     84,    122,    147,    282,    289,    309,    534,
                608,    803,
             ...
             678214, 678216, 678355, 678404, 678476, 679500, 679618, 679636,
             679638, 679730],
            dtype='int64', length=5086),
 'Marshall-Shadeland': Int64Index([    13,     31,     42,     43,     63,     65,     87,     94,
                100,    109,
             ...
             679543, 679588, 679704, 679713, 679741, 679742, 679924, 679929,
             679981, 680094],
            dtype='int64', length=10584),
 'Middle Hill': Int64Index([     8,     80,    101,    135,    158,    200,    372,    561,
                631,    827,
             ...
             678023, 678024, 678302, 678358, 678431, 678519, 678822, 678865,
             679495, 679862],
            dtype='int64', length=6125),
 'Morningside': Int64Index([    62,    146,    280,    354,    369,    456,    515,    574,
                598,    622,
             ...
             678611, 678698, 678834, 679077, 679148, 679149, 679170, 679268,
             679383, 680097],
            dtype='int64', length=6713),
 'Mount Oliver Borough': Int64Index([  3506,   8554,   8687,   8688,   8897,   9343,   9432,   9492,
               9520,  17709,  25723,  37427,  52140,  58282,  84040,  96457,
              97954,  99178, 105170, 106717, 112141, 112146, 112172, 112485,
             114714, 116558, 129785, 131278, 131288, 133616, 143865, 150563,
             155203, 160740, 170685, 173825, 177481, 189862, 213188, 224794,
             257748, 273208, 290782, 300300, 310218, 319680, 320217, 323977,
             368617, 369124, 377802, 380452, 396824, 398528, 418703, 420874,
             434844, 499632, 541993, 589225, 593629, 613227, 615520, 617304],
            dtype='int64'),
 'Mount Washington': Int64Index([     6,     74,     83,     97,    138,    160,    173,    174,
                286,    329,
             ...
             679119, 679173, 679296, 679389, 679409, 679481, 679615, 679856,
             679871, 680017],
            dtype='int64', length=17502),
 'Mt. Oliver': Int64Index([   735,   1530,   1558,   1559,   2109,   2110,   2111,   2233,
               2545,   2546,
             ...
             676981, 677463, 677473, 677543, 678578, 678579, 678734, 679457,
             680015, 680016],
            dtype='int64', length=2229),
 'New Homestead': Int64Index([   544,    563,    793,    947,   1161,   1211,   1336,   1593,
               2215,   5217,
             ...
             672775, 673861, 674449, 674712, 676288, 676759, 677248, 678605,
             678857, 678891],
            dtype='int64', length=1594),
 'North Oakland': Int64Index([     9,     25,    362,    734,    780,   1139,   1143,   1168,
               1183,   1218,
             ...
             679157, 679361, 679380, 679423, 679425, 679774, 679854, 680065,
             680070, 680071],
            dtype='int64', length=5945),
 'North Shore': Int64Index([    81,    298,    469,    498,    764,    778,    811,    963,
               1102,   1103,
             ...
             676262, 676750, 677008, 677170, 677591, 678280, 678393, 678588,
             678590, 678862],
            dtype='int64', length=1743),
 'Northview Heights': Int64Index([   161,    726,    865,   3040,   3674,   4395,   4655,   5012,
               5057,   5253,
             ...
             663186, 666748, 669214, 669660, 673353, 674339, 674489, 675002,
             678479, 678809],
            dtype='int64', length=661),
 'Oakwood': Int64Index([  3817,   5309,   5466,   6291,   6714,   9381,   9742,  13352,
              13519,  14940,
             ...
             671323, 671447, 671521, 672575, 672613, 673295, 675793, 675883,
             678427, 679376],
            dtype='int64', length=1226),
 'Overbrook': Int64Index([    78,    108,    284,    285,    365,    366,    389,    390,
                420,    551,
             ...
             679413, 679524, 679565, 679657, 679664, 679735, 679747, 679827,
             680013, 680028],
            dtype='int64', length=9372),
 'Perry North': Int64Index([    20,     26,     91,    143,    156,    159,    169,    193,
                207,    222,
             ...
             678867, 678919, 678920, 678980, 678981, 679292, 679313, 679400,
             679424, 679997],
            dtype='int64', length=9460),
 'Perry South': Int64Index([   104,    157,    248,    323,    324,    342,    391,    393,
                490,    530,
             ...
             678835, 678902, 678907, 678959, 679561, 679789, 679803, 679886,
             680033, 680035],
            dtype='int64', length=9094),
 'Point Breeze': Int64Index([    55,     92,    128,    198,    256,    272,    300,    361,
                376,    399,
             ...
             679422, 679459, 679726, 679777, 679782, 679819, 679910, 679985,
             680064, 680081],
            dtype='int64', length=8400),
 'Point Breeze North': Int64Index([   105,    271,   1312,   1516,   1803,   2269,   2309,   2610,
               2765,   2961,
             ...
             679019, 679177, 679651, 679670, 679677, 679788, 679810, 679832,
             679839, 679942],
            dtype='int64', length=3674),
 'Polish Hill': Int64Index([   454,    508,    664,    868,    884,    912,    917,    951,
                962,    983,
             ...
             678707, 678709, 678783, 679106, 679619, 679624, 679948, 679955,
             679974, 679975],
            dtype='int64', length=4515),
 'Regent Square': Int64Index([   144,    266,    919,   1034,   1468,   1498,   1681,   1808,
               1984,   2317,
             ...
             675042, 675599, 676263, 676456, 676600, 676604, 677359, 677987,
             678266, 678633],
            dtype='int64', length=1757),
 'Ridgemont': Int64Index([  1458,   1951,   4220,   5937,   6208,   6434,   8641,   9039,
               9338,   9857,
             ...
             675155, 675157, 675481, 675653, 675656, 675718, 675954, 676780,
             676896, 677997],
            dtype='int64', length=714),

In [36]:
neighborhood.size()

NEIGHBORHOOD
Allegheny Center       2424
Allegheny West         1306
Allentown              7281
Arlington              5259
Arlington Heights       140
                       ...
Upper Lawrenceville    5903
West End               1599
West Oakland           3458
Westwood               3457
Windgap                2308
Length: 91, dtype: int64

In [37]:
Arlington_Group = neighborhood.get_group('Arlington')
Arlington_Group.head()

,_id,REQUEST_ID,CREATED_ON,REQUEST_TYPE,REQUEST_ORIGIN,STATUS,DEPARTMENT,NEIGHBORHOOD,COUNCIL_DISTRICT,WARD,TRACT,PUBLIC_WORKS_DIVISION,PLI_DIVISION,POLICE_ZONE,FIRE_ZONE,X,Y,GEO_ACCURACY
344,345,181304.0,2017-08-22T14:22:00,Overgrowth,Call Center,1,DPW - Street Maintenance,Arlington,3.0,16.0,4.200316e+10,3.0,16.0,3.0,4-22,-79.977372,40.417817,EXACT
460,461,186068.0,2017-09-12T09:01:00,Junk Vehicles,Call Center,1,"Permits, Licenses and Inspections",Arlington,3.0,16.0,4.200356e+10,3.0,16.0,3.0,4-8,-79.973750,40.414812,APPROXIMATE
565,566,162690.0,2017-06-16T13:26:00,Potholes,Call Center,1,DPW - Street Maintenance,Arlington,3.0,16.0,4.200356e+10,3.0,16.0,3.0,4-8,-79.975976,40.416603,EXACT
566,567,162720.0,2017-06-16T14:20:00,Potholes,Call Center,1,DPW - Street Maintenance,Arlington,3.0,16.0,4.200356e+10,3.0,16.0,3.0,4-8,-79.976027,40.416822,EXACT
709,710,151094.0,2017-05-05T10:39:00,Potholes,Call Center,1,DPW - Street Maintenance,Arlington,3.0,16.0,4.200356e+10,3.0,16.0,3.0,4-8,-79.971742,40.415572,EXACT

In [38]:
requests_by_neighborhood = data311.groupby(by=["NEIGHBORHOOD", "DEPARTMENT"])
requests_by_neighborhood.get_group(("Arlington", "311"))

,_id,REQUEST_ID,CREATED_ON,REQUEST_TYPE,REQUEST_ORIGIN,STATUS,DEPARTMENT,NEIGHBORHOOD,COUNCIL_DISTRICT,WARD,TRACT,PUBLIC_WORKS_DIVISION,PLI_DIVISION,POLICE_ZONE,FIRE_ZONE,X,Y,GEO_ACCURACY
33683,33684,23524.0,2015-09-15T06:52:00,Vacant Lot,Website,1,311,Arlington,3.0,16.0,4.200356e+10,3.0,16.0,3.0,4-8,-79.973651,40.414868,APPROXIMATE
45819,45820,131104.0,2017-02-09T15:41:00,Question,Call Center,1,311,Arlington,3.0,16.0,4.200356e+10,3.0,16.0,3.0,4-8,-79.963551,40.412528,APPROXIMATE
70696,70697,162318.0,2017-06-15T14:49:00,Police Department,Website,1,311,Arlington,3.0,16.0,4.200356e+10,3.0,16.0,3.0,4-8,-79.973633,40.415081,APPROXIMATE
72190,72191,87018.0,2016-07-11T15:42:00,Vacant Lot,Control Panel,1,311,Arlington,3.0,16.0,4.200356e+10,3.0,16.0,3.0,4-8,-79.973524,40.415076,APPROXIMATE
160343,160344,43934.0,2016-01-27T16:16:00,Schedule Request,Call Center,1,311,Arlington,3.0,16.0,4.200356e+10,3.0,16.0,3.0,4-8,-79.963774,40.412131,APPROXIMATE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
652662,785190,673421.0,2022-08-31T10:14:00,Referral,Call Center,1,311,Arlington,3.0,16.0,4.200356e+10,3.0,16.0,3.0,4-8,-79.973849,40.414853,APPROXIMATE
660517,796725,681256.0,2022-09-27T11:53:00,City Cuts Concern,Call Center,1,311,Arlington,3.0,16.0,4.200356e+10,3.0,16.0,3.0,4-8,-79.963678,40.412425,APPROXIMATE
663610,801084,684343.0,2022-10-08T09:16:00,Vacant Lot,Website,3,311,Arlington,3.0,16.0,4.200356e+10,3.0,16.0,3.0,4-8,-79.963449,40.412502,APPROXIMATE
669602,810208,690310.0,2022-11-01T10:37:00,City Cuts Concern,Call Center,1,311,Arlington,3.0,16.0,4.200356e+10,3.0,16.0,3.0,4-8,-79.963380,40.412236,APPROXIMATE
672484,814350,693190.0,2022-11-11T11:54:00,Vacant Lot,Website,1,311,Arlington,3.0,16.0,4.200356e+10,3.0,16.0,3.0,4-8,-79.973763,40.415079,APPROXIMATE